.mainVideo{
    background-color: #CCC4;
    border: 1px #CCC solid;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    padding: 0;
    height: 60%;
}

.mainVideo *{
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
}

.noDisplay{
    margin: auto;
    text-align: center;
    font-size: 30pt;
    height: 45pt;
    font-family: 'Poppins', sans-serif;
    color: #EEE;
  }

.mainDesc{
    width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    font-weight: 800;
    color: white;
}

.liveLogo{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 5rem;
    margin: 0;
    width: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
}